.App {
  text-align: center;
}

.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid white;
  width: 900px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 5px;
  min-width: 200px;
}

/* .coin h1 {
  font-size: 16px;
  width: 150px;
} */

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100px;
}

.coin-price {
  min-width: 100px;
  margin-right: 30px;
}

.coin-volume {
  width: 200px;
}

.coin-marketcap {
  width: 240px;
  font-size: smaller;
  text-align: left;
  margin-right: 30px;
}

.coin-percent {
  min-width: 110px;
}

.red {
  color: red;
  margin-right: 30px;
}

.green {
  color: green;
  margin-right: 30px;
}

* {
  /* box-sizing: border-box; */
  /* margin-right: 30px; */
  /* padding: 0; */
  background-color: black;
  color: white;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: white;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
  color: white;
}

.coin-input::placeholder {
  color: white;
}

.navbar {
  margin-right: "10px";
}

button {
  margin-right: 30px;
  padding-left: 10px;
}

label {
  margin-right: 30px;
}

input {
  height: 20px;
  margin-right: 10px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
  color: white;
  cursor: pointer;
}

input::placeholder {
  color: white;
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 12px 12px;
  border: 0;
  color: #fff;
  background: linear-gradient(90deg,rgb(151, 28, 28) 0,rgb(93, 46, 168) 100%);
  font-size: 12px;
}